In [1]:
import pandas as pd
import numpy as np
import pickle 
import tensorflow as tf
from tensorflow.keras.models import load_model

WARNING:tensorflow:From c:\Users\abhishek\practise_ml\neural network\ann classification\.venv\lib\site-packages\keras\src\losses.py:2976: The name tf.losses.sparse_softmax_cross_entropy is deprecated. Please use tf.compat.v1.losses.sparse_softmax_cross_entropy instead.

In [2]:
# Load all the necessary pickle files

with open('scaler.pkl', 'rb') as file:
    scaler = pickle.load(file)

with open('label_encoder.pkl','rb') as file:
    label_encoder = pickle.load(file)

with open('geo_ohe_encoder.pkl','rb') as file:
    ohe = pickle.load(file)

# Load the trained model
model = load_model('ann_model.h5')

WARNING:tensorflow:From c:\Users\abhishek\practise_ml\neural network\ann classification\.venv\lib\site-packages\keras\src\backend.py:1398: The name tf.executing_eagerly_outside_functions is deprecated. Please use tf.compat.v1.executing_eagerly_outside_functions instead.

In [3]:
# Example input data
input_data = {
    'CreditScore': 600,
    'Geography': 'France',
    'Gender': 'Male',
    'Age': 40,
    'Tenure': 3,
    'Balance': 60000,
    'NumOfProducts': 2,
    'HasCrCard': 1,
    'IsActiveMember': 1,
    'EstimatedSalary': 50000
}

In [5]:
input_df = pd.DataFrame(input_data,index=[0])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,Male,40,3,60000,2,1,1,50000

In [6]:
# Convert categorical variables from input data
# Use the OneHotEncoder (ohe) to transform the Geography value
geo_encoded = ohe.transform([[input_data['Geography']]]).toarray()
geo_encoded_df = pd.DataFrame(geo_encoded, columns=ohe.get_feature_names_out(['Geography']))
geo_encoded_df

c:\Users\abhishek\practise_ml\neural network\ann classification\.venv\lib\site-packages\sklearn\utils\validation.py:2749: UserWarning: X does not have valid feature names, but OneHotEncoder was fitted with feature names
  warnings.warn(

   Geography_France  Geography_Germany  Geography_Spain
0               1.0                0.0              0.0

In [9]:
input_df['Gender'] = label_encoder.transform([input_data['Gender']])
input_df

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,600,France,1,40,3,60000,2,1,1,50000

In [11]:
input_df = pd.concat([input_df, geo_encoded_df], axis=1)
input_df = input_df.drop(['Geography'],axis=1)

In [12]:
input_df

,CreditScore,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Geography_France,Geography_Germany,Geography_Spain
0,600,1,40,3,60000,2,1,1,50000,1.0,0.0,0.0

In [13]:
#Scaling the input data
input_df_scaled = scaler.transform(input_df)
input_df_scaled

array([[-0.53598516,  0.91324755,  0.10479359, -0.69539349, -0.25781119,
         0.80843615,  0.64920267,  0.97481699, -0.87683221,  1.41421356,
         0.        , -1.41421356]])

In [14]:
# Predicting the output using the trained model
prediction = model.predict(input_df_scaled)
prediction

1/1 [==============================] - 0s 394ms/step

array([[0.19621089]], dtype=float32)

In [ ]:
if prediction > 0.5:
    print("The customer is likely to lchurn.")
else:
    print("The customer is not likely to churn.")
# Save the prediction result

The customer is likely to stay with the bank.

In [ ]:
ohe.categories_[]

[array(['France', 'Germany', 'Spain'], dtype=object)]

In [36]:
label_encoder.classes_

array(['Female', 'Male'], dtype=object)

In [35]:
scaler.feature_names_in_

array(['CreditScore', 'Gender', 'Age', 'Tenure', 'Balance',
       'NumOfProducts', 'HasCrCard', 'IsActiveMember', 'EstimatedSalary',
       'Geography_France', 'Geography_Germany', 'Geography_Spain'],
      dtype=object)